<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{title}}</title>
    <!-- CSS files -->
    <link href="/css/tabler-dev/css/tabler.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body class="antialiased theme-dark">
    

      {{{body}}}

    <script src="/js/tabler-dev/js/tabler.min.js"></script>
  </body>
</html>